---
import { basics } from "@cv";
import Vengeance from "@/layouts/Vengeance.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";
import KeyboardManager from '../components/KeyboardManager.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = basics.summary } = Astro.props;
const { image, url, theme, summary } = basics;

const ogImage = "/og-image.png";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" as="image" href={ogImage} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={summary} />
		<meta property="og:image" content={ogImage} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
		<meta property="twitter:url" content={url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={summary} />
		<meta property="twitter:image" content={ogImage} />

		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim" />
		<link rel="stylesheet" href="/themes/themes.css" />
		<Vengeance />
	</head>
	<body data-theme={theme} class="relative bg-skin-fill">
		<div class="absolute top-0 -z-10 h-full w-full print:hidden">
			<div class="bg-skin-hue/10 absolute bottom-auto left-[20%] right-auto top-0 h-[200px] w-[200px] -translate-x-[30%] translate-y-[20%] rounded-full blur-[80px] invert-0 dark:bg-white/5"></div>
		</div>
		<slot />
		<KeyboardManager />
		<ThemeSwitch />
		<style is:global>
			body,
			figure {
				margin: 0;
				padding: 0;
			}
			a {
				text-decoration: none;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			*,
			*::before,
			*::after {
				box-sizing: border-box;
			}
		</style>
	</body>
</html>
